.top-bar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: .44rem;
  background: #ededed;

  .icon {
    position: absolute;
    text-align: center;
    line-height: .44rem;
    top: 0;
    left: 0;
    color: #17233d;
    height: 100%;
    line-height: .44rem;
    padding: 6px 0;
    width: .28rem;
    height: .28rem;
    padding-left: .18rem;
  }

  h1 {
    text-align: center;
    line-height: .44rem;
    font-size: .18rem;
    color: #17233d;
  }

  .add {
    position: absolute;
    text-align: center;
    line-height: .44rem;
    top: 0;
    right: 0;
    color: #17233d;
    width: .44rem;
    padding-right: .1rem;
    // border: 1px solid red;
  }
}