.button {
  display: block;
  height: 0.3rem;
  color: #fff;
  font-size: .14rem;
  padding: 0 .1rem;
  border-radius: .04rem;
}

.button.button-primary {
  color: #fff;
  background-color: #57be6b;
  border-color: #2f8340;
  border-radius: .04rem;
}

.button.button-warning {
  color: #fff;
  background-color: #e68b44;
  border-color: #c5852b;
  border-radius: .04rem;
}

.button.button-danger {
  color: #fff;
  background-color: #e75e58;
  border-color: #ca4d47;
  border-radius: .04rem;
}
