.button {
  display: block;
  height: 0.28rem;
  color: #fff;
  font-size: 0.14rem;
  padding: 0 0.1rem;
  border-radius: 8px;
}

.button.button-primary {
  color: #fff;
  background-color: #57be6b;
  border-color: #2f8340;
  border-radius: 8px;
}

.button.button-warning {
  color: #fff;
  background-color: #e68b44;
  border-color: #c5852b;
  border-radius: 8px;
}

.button.button-danger {
  color: #fff;
  background-color: #e75e58;
  border-color: #ca4d47;
  border-radius: 8px;
}
