.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: .6rem;
  border-bottom: 1px solid #ddd;
  margin: 0 .2rem;

  .check-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    padding-left: .1rem;
    font-size: .16rem;
  }

  .button-group {
    display: flex;
    flex-direction: row-reverse;

    .button {
      margin-left: .08rem;
      font-size: .12rem;
    }
  }
}